{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="container-fluid h-100 hero-img px-0">
    <div class="row h-100">
        <div class="col-12 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-white text-background">
                <b>Unleash
                <br>
                Confidence
                </b>
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</section>
<section class="bg-beige shop-now-cards g-0">
        <div class="row justify-content-center g-0"> <!-- Row for the Men's and Women's section -->
            <div class="col-md-5 mb-4">
                <div class="card text-center shop-card men-card"> <!-- Men's Shop Card -->
                    <div class="card-body d-flex flex-column justify-content-center">
                        <a href="{% url 'products' %}?gender=Men" class="lacquer-regular btn btn-primary btn-block shop-btn">Shop Men's</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mb-4">
                <div class="card text-center shop-card women-card"> <!-- Women's Shop Card -->
                    <div class="card-body d-flex flex-column justify-content-center">
                        <a href="{% url 'products' %}?gender=Women" class="lacquer-regular btn btn-primary btn-block shop-btn">Shop Women's</a>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 mb-4">
                <div class="card text-center shop-card shop-graphics-card">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <a href="{% url 'products' %}?category=graphic_tshirts,graphic_hoodies,graphic_sweatshirts" class="lacquer-regular btn btn-primary btn-block shop-btn">Signature Graphics</a>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}