.about-text {
    font-size: 1.1rem;
}

.contact-form label {
    display: none;
}

.contact-form-container {
    background-color: rgba(0, 0, 0, 0.65);
    color: #ffffff;
    margin-bottom: 50px;
}

.contact-form .form-control {
    width: 100%;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.1); /* Light transparent bg for inputs */
    border: 1px solid #ddd;
    color: #fff; 
}

.contact-form textarea.form-control {
    height: 150px; /* Smaller message box */
    resize: none;
}

.contact-form button[type="submit"] {
    display: block;
    margin-top: 1rem;
    background-color: #ff9670;
    color: #000;
    border: none;
    width: 100%;
    padding: 10px 20px;
}

.contact-form .form-control::placeholder {
    color: #ffffff;
}