/* FAQ Section Styles */
.faq-section {
    font-size: 1.1rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.55);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.faq-section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #ffd700;
    text-align: center;
}

.faq-section .accordion .card {
    background-color: transparent;
    border: none;
    color: #ffffff;
}

.faq-section .accordion .card-header {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
}

.faq-section .accordion .card-header button {
    color: #ffffff;
    font-size: 1.1rem;
    text-align: left;
    width: 100%;
}

.faq-section .accordion .card-header button:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
}

.faq-section .accordion .card-body {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    border-top: 1px solid #ffd700;
}

.faq-section .accordion .card-body p {
    font-size: 1rem;
    margin: 10px;
}

/* CTA Link to About Page */
.faq-cta {
    display: block;
    margin-top: 20px;
    text-align: center;
    font-size: 1rem;
    color: #ffd700;
    text-decoration: underline;
}

.faq-link {
    color: #ffd700;
    text-decoration: underline;
}

.faq-cta:hover {
    color: #ffffff;
}
