/* Styles copied from Boutique Ado */
html {
    height: 100%;
}

body {
    background: url('/media/kvrn-hero.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}


.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #ffaa00 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fff;
    z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

/* Custom CSS */
/* Product Images */
.image-container {
    width: 100%;
    padding-top: 100%; /* This creates a 1:1 aspect ratio */
    position: relative;
    overflow: hidden;
}

.product-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offset-lg-2 > .image-container {
    padding-top: 0px;
}

.banner-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;  /* Prevents text wrapping */
    padding: 10px 0;
    position: relative;
    top: 0;
    z-index: 1000;
}

.banner-content {
    display: inline-block;
    padding-left: 100%;  /* Start the text outside of the container */
    /* Below found at: https://stackoverflow.com/questions/72092797/make-content-infinite-scroll-left-to-right */
    animation: scroll-left 20s linear infinite;  /* Adjust time for speed */
    font-size: 1rem;
    white-space: nowrap;  /* Prevents text wrapping */
    /* Below found at: https://developer.mozilla.org/en-US/docs/Web/CSS/text-overflow */
    text-overflow: ellipsis;  /* Ensures text gets cut off and doesn't wrap */
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 126px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

/* Keyframe animation to move text from right to left */
/* Idea found on Reddit. Implemented with https://www.w3schools.com/cssref/css3_pr_animation-keyframes.php */
@keyframes scroll-left {
    0% {
        transform: translateX(10%);  /* Start off-screen to the right */
    }
    100% {
        transform: translateX(-100%);  /* End off-screen to the left */
    }
}

/* Mobile responsive adjustment */
@media (max-width: 600px) {
    .banner-content {
        font-size: 14px;  /* Reduce font size on mobile for better fit */
    }
}