/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Lacquer&family=Paytone+One&family=Sedgwick+Ave&display=swap');

.lacquer-regular {
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-style: normal;
}
  
html {
    height: 100%;
}

body {
    background-color: #f2eadf; 
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
    overflow-x: hidden; 
}

/* Main content area */
.content {
    min-height: 100vh;
}

footer h5 {
    margin-top: 40px;
}

.container > .row >
.col-12 {
    margin-top: 50px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.2rem;
    width: 1.2rem;
}

.logo-font {
    text-transform: uppercase;
}

.hero-text {
    margin-left: 50px;
}

.hero-img > div {
    margin-top: 300px;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
    margin-left: 50px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #d5cec4 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #f2eadf;
    z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.image-mini {
    max-height: 100px;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #8d8d8d;
}

.allauth-form-inner-content input {
    background-color: #f2eadf;
    color: #000;
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none; /* Hides labels except for the 'remember me' checkbox */
}

.allauth-form-inner-content input::placeholder {
    color: #8d8d8d; /* Light gray placeholder text */
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* Button styling */
	display: inline-block;
    font-weight: 400;
    color: #f6ebdc;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #000; /* Black button background */
    border: 1px solid #000; /* Black border */
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0; /* No rounded corners */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #f6ebdc; /* Light background color for text on hover */
    background-color: #2e2e2e; /* Dark gray for hover effect */
    border-color: #2e2e2e;
}

.allauth-form-inner-content a {
	color: #8d8d8d; /* Medium gray for links */
    text-decoration: underline;
}

.allauth-form-inner-content a:hover {
    color: #2e2e2e; /* Dark gray for link hover effect */
    text-decoration: none;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

nav {
    background-color: #f2eadf;
}

.custom-nav-link {
    color: black !important; /* Override Bootstrap's default color */
}


.nav-link.text-black {
    color: #000 !important;  /* Force link to be black */
}

.navbar-toggler-icon {
    height: 1.25em;
}

.fa-lg {
    line-height: 1em;
}

.custom-icon {
    height: 34.64px !important;
    width: 55.6px!important;
}

/* Hero section */
section {
    overflow-x: hidden;
}

.hero-img {
    width: 100vw;
    background-image: url('/media/billboard-hero-img.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-right: 0px !important;
    padding-right: 0px !important;
}

/* Background of nav dropdowns */
.dropdown-item, 
.dropdown-menu {
    background-color: #f2eadf;
}

.collapse {
    margin-top: 10px;
}

hr {
    border: none;
    height: 1.5px;
    background-color: rgba(0, 0, 0, 0.85);
}

.shop-now-cards {
    margin-top: 50px;
    margin-bottom: 50px;
    border: none; /* Remove default card border */
}

/* Shop cards */
.shop-now-cards {
    margin-right: 0px;
    width: 100vw;
}

.shop-card {
    height: 700px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for effect */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.men-card {
    background-image: url('/media/shop-mens-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.women-card {
    background-image: url('/media/shop-womens-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.shop-graphics-card {
    background-image: url('/media/anime-graphics-kvrn.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    margin-right: 15px;
    margin-left: 15px;
    background-position: center 5%;
}

/* Shop Button styles */
.shop-btn {
    background-color: #000;
    color: #fff;
    padding: 20px 30px;
    font-size: 18px;
    border: none;
}

.shop-btn:hover {
    background-color: #333; /* Darker black on hover */
}

/* General Style for Beige Background */
.bg-beige {
    background-color: #f6ebdc;
}

/* Product Images */
.image-container {
    width: 100%;
    padding-top: 130%;
    position: relative;
    overflow: hidden;
}

.product-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offset-lg-2 > .image-container {
    padding-top: 0px;
}

/* Custom column class to ensure minimal space between images */
.col-6, .col-md-4, .col-lg-3 {
    padding-left: 2px; 
    padding-right: 2px; 
}

/* Custom body class to avoid extra bottom padding */
.card-body {
    padding: 10px 5px;
}

.g-0 {
    margin-left: 0px;
    margin-right: 0px;
}


/* Wishlist Icon Button */
.wishlist-icon-form {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.wishlist-btn {
    background: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 0.5rem;
    color: #8d8d8d; /* Outline heart color */
    font-size: 1.2rem;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Wishlist Button Icon */
.btn-outline-black i.fa-heart {
    color: #ff0000; /* Red heart color when item is in wishlist */
}

.btn-outline-black i.fa-heart-o {
    color: #8d8d8d; /* Gray outline for items not in wishlist */
}

.btn-outline-black:hover i.fa-heart-o {
    color: #ff0000; /* Red on hover for outline heart */
}

.wishlist-btn-rounded {
    border-radius: 50%;
}

.wishlist-btn .fa-heart {
    color: #ff0000; /* Red color for solid heart */
}

.wishlist-btn:hover .fa-heart-o {
    color: #ff0000; /* Red color on hover for outline heart */
}

.wishlist-btn:hover {
    background-color: #f2eadf; /* Light background color on hover */
}

.wishlist-form .btn {
    padding: 8px 10px;
    font-size: 14px;
}

/* Banner Styles */
.banner-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;  /* Prevents text wrapping */
    position: relative;
    top: 0;
}

.banner-content {
    display: inline-block;
    color: #000;
    padding-left: 100%;  /* Start the text outside of the container */
    /* Below found at: https://stackoverflow.com/questions/72092797/make-content-infinite-scroll-left-to-right */
    animation: scroll-left 20s linear infinite;  /* Adjust time for speed */
    white-space: nowrap;  /* Prevents text wrapping */
    /* Below found at: https://developer.mozilla.org/en-US/docs/Web/CSS/text-overflow */
    text-overflow: ellipsis;  /* Ensures text gets cut off and doesn't wrap */
}

/* Hero Text */
.text-background {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 20px 25px;
    display: inline-block;
    border-radius: 5px; 
}

.wishlist-images {
    margin-top: 30px;
}

.carousel-item {
    position: relative;
}

.home-btn-404 {
    border-top-color: rgba(0, 0, 0, 0.85);
    border-bottom-color: rgba(0, 0, 0, 0.85);

}

.bottom-spacing {
    margin-bottom: 20px !important;
}

.bottom-spacing-lg {
    margin-bottom: 60px !important;
}

/* Footer Styles */
.site-footer {
    background-color: #000; /* Black background */
    color: #f6ebdc;
}

.site-footer h5 {
    font-weight: bold;
    color: #ffd700; /* Gold color for headings */
}

.footer-link {
    color: #f6ebdc;
    transition: color 0.3s;
    text-decoration: none;
}

.footer-link:hover {
    color: #ffd700;
}

.newsletter-form .form-control {
    background-color: #2e2e2e; /* Dark gray input field background */
    border: none;
    color: #f6ebdc;
}

.newsletter-form .form-control::placeholder {
    color: #8d8d8d;
}

.newsletter-form .btn {
    color: #f6ebdc;
    border-color: #ffd700;
}

.newsletter-form .btn:hover {
    background-color: #ffd700;
    color: #000;
}

.newsletter-form small {
    color: #8d8d8d;
}

footer {
    margin-top: 200px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Styles to fix icon placement on larger screens */
@media (min-width: 992px) and (max-width: 1060px) {
    .lg-screen-flex {
        display: flex !important;
        flex-wrap: nowrap !important;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    #account-nav {
        display: none !important;
    }
    
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    .error-404 {
        margin-top: 65px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 126px;
    }

    body {
        height: calc(100vh - 116px);
    }

    /* Custom py-5 class */
    .py-5 {
        padding-top: 0 !important;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}

/* Responsiveness for hero text */
@media (max-width: 767px) {
    .nav-heading {
        font-size: 1rem !important;
    }
    
    .logo-font {
        font-size: 2rem; /* Scale down heading on mobile */
    }

    .shop-now-button {
        font-size: 1rem; /* Reduce button size */
        padding: 10px 20px; /* Reduce padding on the button */
    }
}

/* Keyframe animation to move text from right to left */
/* Idea found on Reddit. Implemented with https://www.w3schools.com/cssref/css3_pr_animation-keyframes.php */
@keyframes scroll-left {
    0% {
        transform: translateX(10%);  /* Start off-screen to the right */
    }
    100% {
        transform: translateX(-100%);  /* End off-screen to the left */
    }
}

/* Mobile responsive adjustment */
@media (max-width: 600px) {
    .banner-content {
        font-size: 14px;  /* Reduce font size on mobile for better fit */
    }
}

/* For Nav on small screens */
@media (max-width: 400px) {
    .small-nav-text-mobile {
        font-size: 13px !important;
    }
}