<!-- templates/includes/account-nav.html -->
<div class="collapse navbar-collapse" id="account-nav">
    <ul class="navbar-nav ml-auto d-lg-none">
        <!-- Home Link -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">
                <i class="fas fa-home"></i> Home
            </a>
        </li>

        <!-- Contact Link -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">
                <i class="fas fa-phone"></i> Contact
            </a>
        </li>

        <!-- Account Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="user-options" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i> My Account
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                    {% endif %}
                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                    <a href="{% url 'wishlist' %}" class="dropdown-item">My Wishlist</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>
    </ul>
</div>
