<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-lg-none">
            <a class="nav-link custom-nav-link" href="{% url 'home' %}">
                <i class="fas fa-home"></i> Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-heading font-weight-bold nav-link text-black mr-5 lacquer-regular" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}" class="dropdown-item nav-heading">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-heading font-weight-bold nav-link text-black mr-5 lacquer-regular" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=hoodies" class="dropdown-item">Hoodies</a>
                <a href="{% url 'products' %}?category=t_shirts" class="dropdown-item">T-shirts</a>
                <a href="{% url 'products' %}?category=sweatshirts" class="dropdown-item">Sweatshirts</a>
                <a href="{% url 'products' %}?category=leggings" class="dropdown-item">Leggings</a>
                <a href="{% url 'products' %}?category=hoodies,t_shirts,sweatshirts,leggings,graphic_tshirts,graphic_hoodies,graphic_sweatshirts" class="dropdown-item">All Clothing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-heading font-weight-bold nav-link text-black mr-5 lacquer-regular" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=hats" class="dropdown-item">Hats</a>
                <a href="{% url 'products' %}?category=face_masks" class="dropdown-item">Face Masks</a>
                <a href="{% url 'products' %}?category=hats,face_masks" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-heading font-weight-bold nav-link text-black lacquer-regular" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Graphic Apparel
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=graphic_tshirts" class="dropdown-item">Graphic T-Shirts</a>
                <a href="{% url 'products' %}?category=graphic_hoodies" class="dropdown-item">Graphic Hoodies</a>
                <a href="{% url 'products' %}?category=graphic_sweatshirts" class="dropdown-item">Graphic Sweatshirts</a>
                <a href="{% url 'products' %}?category=graphic_tshirts,graphic_hoodies,graphic_sweatshirts" class="dropdown-item">All Graphic Apparel</a>
            </div>
        </li>
    </ul>
</div>