{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2 class="logo-font mb-4">Product Management</h2>
                <h5 class="text-muted">Add a Product</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' and field.name != 'image2' %}
                            {{ field | as_crispy_field }}
                        {% elif field.name == 'image' %}
                            <!-- Unique ID for each image input -->
                            <label for="new-image-1">Primary Image</label>
                            <input id="new-image-1" type="file" name="image" accept="image/*" class="border-black rounded-0">
                            <div class="text-danger" id="filename-1"></div>
                        {% elif field.name == 'image2' %}
                            <label for="new-image-2">Secondary Image</label>
                            <input id="new-image-2" type="file" name="image2" accept="image/*" class="border-black rounded-0">
                            <div class="text-danger" id="filename-2"></div>
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-black rounded-0" type="submit">Add Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        // JavaScript to handle file input changes for each image input
        $('#new-image-1').change(function() {
            const file = $('#new-image-1')[0].files[0];
            $('#filename-1').text(`Image will be set to: ${file.name}`);
        });

        $('#new-image-2').change(function() {
            const file = $('#new-image-2')[0].files[0];
            $('#filename-2').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}