{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2 class="logo-font mb-4">Product Management</h2>
                <h5 class="text-muted">Edit a Product</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' and field.name != 'image2' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            <!-- Ensure unique IDs for each file input -->
                            {% if field.name == 'image' %}
                                <label for="new-image-1">Select Image</label>
                                <input id="new-image-1" type="file" name="image" accept="image/*" class="border-black rounded-0">
                                <p class="text-danger" id="filename-1"></p>
                            {% elif field.name == 'image2' %}
                                <label for="new-image-2">Select Image 2</label>
                                <input id="new-image-2" type="file" name="image2" accept="image/*" class="border-black rounded-0">
                                <p class="text-danger" id="filename-2"></p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-black rounded-0" type="submit">Update Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        // Separate change event handlers for each file input
        $('#new-image-1').change(function() {
            const file = $('#new-image-1')[0].files[0];
            $('#filename-1').text(`Image will be set to: ${file.name}`);
        });

        $('#new-image-2').change(function() {
            const file = $('#new-image-2')[0].files[0];
            $('#filename-2').text(`Image 2 will be set to: ${file.name}`);
        });
    </script>
{% endblock %}