{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <h1>Products</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <ul>
                    {% for product in products %}
                        <li>{{ products.all }}</li>
                    {% empty %}
                        <li>No products available.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}